<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Eternal</title>
</head>
<body>
    <div class="user-info">
        UserInfo: <span th:text="${nickname}"/>
    </div>
    <div class="user-stats">
        Season: <span th:text="${playerStats.season}"/><br>
        Avg. Rank: <span th:text="${playerStats.getAverageRank()}"/> | Top 1: <span th:text="${playerStats.getTop1()}"/> | Total Games: <span th:text="${playerStats.getTotalGames()}"/> <br>
        Avg. Kill: <span th:text="${playerStats.getAverageKills()}"/> || Top 2: <span th:text="${playerStats.getTop2()}"/> | MMR: <span th:text="${playerStats.getMmr()}"/> <br>
        Avg. Assistants: <span th:text="${playerStats.getAverageAssistants()}"/> | Top 3: <span th:text="${playerStats.getTop3()}"/> | Avg. Hunts: <span th:text="${playerStats.getAverageHunts()}"/><br>
    </div>
</body>
</html>